body {
    overflow: hidden;
    margin: 0;
    user-select:none;
}
.UI全体 {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}
.left {
    background-color: lightblue;
}
.right {
    background-color: #313338;
    position: relative;
    height: 100vh;
}
.right-fixed-element-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #383A40;
    text-align: right;
    padding: 10px 0;
    box-sizing: border-box;
}
.right-fixed-element-top span {
    font-size: 50px;
    padding-right: 15px;
    color:#add8e6;
    font-family:Impact;
}
.right-fixed-element-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #313338;
    padding: 5px;
    box-sizing: border-box;
}
#box-element {
    width: 95%;
    background-color: #383A40;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color:#add8e6;
}

#tileContainer {
    padding-top: 70px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100vh - 85px); 
}
.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}
/* タイルの基本スタイル */
.tile {
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    background-color: #444;
    display: none;
    transition: all 0.3s ease-in-out;
    text-align: left;
    cursor: pointer;
}
.tile:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
/* 状態2のタイルのスタイル */
.tile.visible {
    display: block;
    margin: 5px 10px 0;
}
/* 解放済みのタイルのスタイル */
.tile.unlocked {
    background-color: #fff;
    color: black;
}

.tile:active {
    transform: scale(0.95);
}
/* タイルのタイトルのスタイル(笑) */
.tile .title {
    margin: 3px 0;
    font-weight: bold;
}
/* タイルの説明のスタイル　*/
.tile .description {
    margin: 3px 0;
    font-size: 0.9em;
}
/* 未解放のタイルのスタイル */
.tile.locked .title, .tile.locked .description {
    text-align: center;
}